
.vali{
	text-align: left;
}
.forform{
	text-align: left;
	margin-top: 5px;
	margin: 5px;	
}

.password{
	color: red;
}
.usernamei{
	color: red;
}
.confrmpasswro{
	color: red;
}
.mobilenumbe{
	color: red;
}
.emaili{
	color: red;
}