h1,h2,div,span{
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
	margin-bottom: 0;
}
h1{
	font-size: 50px;
}
button{
	width: 30px;
	height: 30px;
	border: none;
	background-color: #CD1076;
	outline-style: none;
}
h2{
	margin-top: 0;
}
span{
	font-size: 24px;
}
body{
	background-color: #2F4F4F;
}
.container{
	margin:50px auto;
	width: 400px;
	height: 500px;
}
.break{
	width: 100px;
	float: left;
	margin-bottom: 30px;
}
.session{
	width: 100px;
	float: right;
}
.start{
	width: 100px;
	float: left;
}
.reset{
	width: 100px;
	float: right;
}
.display{
	margin:auto;
	clear: left;
	width: 320px;
	height: 320px;
	border: solid; 3px #FF8C00;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.display:hover{
	cursor: pointer;
}
.bar{
	position: absolute;
	bottom: 0px;
	background-color: #FF8C00;
	width: 100%;
}
.time{
	z-index: 1;
	font-size: 48px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}