body{
  text-align: center;
  font-family: Time New Roman;
  background-color: #006666 ;
  color: violet;
}
.circle{
  height: 400px;
  width: 400px;
  margin: 40px auto;
  border: 3px solid violet;
  border-radius: 75%;
  cursor: grab;
}
#circleba {
	background-color: #2E8B57 ;
}
h1{
  font-size: 60px;
  font-family: Pacifico;
  color: #FFB90F;
}
.timers div{
  display: inline-block;
  margin: -50px 35px;
}
.format{
  display: inline-block;
  margin: 5px;
}
button{
  color: white;
  background-color: #6A5ACD;
  border:5;
  font-size: 35px; 
  margin: -50px 100px;
}
button:hover{
  cursor: pointer;
  color: red;
  background-color: #BFEFFF;
}
#break{
  font-size: 45px; 
}
#count{
	font-size: 45px; 
}
#title, #timer{
  font-size: 70px;
  margin-top: 60px;
}



